.about{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.left-about{
    flex-basis: 30%;
}
.right-about{
    flex-basis: 66%;
}
p.paragraph{

    text-align: center;
    align-items: center;
    
}
.right-about{
    background-color: lightblue;
    border :5px groove black;
    border-radius: 10px;
    padding: 50px;
}