.contact{
    width: 100%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftcontact{
    flex-basis: 40%;
  
}
.rightcontact{
    flex-basis: 50%;
}
.leftcontact ul li{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-left: 60px;
    
}
.leftcontact ul li img{
    padding: 10px;
}
.msg{
    display: flex;
    align-items: center;
    margin-left: 80px;
    /* justify-content: space-between; */
}

.rightcontact form input, .rightcontact form textarea{
    display: block;
    width: 80%;
    padding: 10px;
    background: lightblue;
    color: white;    
}
.btn{
    padding: 15px;
    /* background-color: blue; */
    background: lightblue;
    color: whitesmoke;
    border: 1px solid;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 250px;
    margin-top: 20px;
    color: black;
}